.login-container {
	margin-top: 2%;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px lightgray;
	width: 45% !important;
	background-color: lightgray;
}
.login-heading {
	color: blue;
}
.login-input {
	border: 0.5px solid gray !important;
}
