.search {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.typing {
	padding: 5px 5px 5px 10px;
	margin-left: 10px;
	border-radius: 10px;
	width: 65%;
}

.searchbtn {
	background-color: pink;
	border-radius: 10px;
	height: 40px;
	width: 90px;
	margin-left: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}

/* sideforms */

.sideform {
	margin-top: 30px;
	padding: 15px;
	width: 25%;
	float: left;
	background-color: lightgrey;
	border-radius: 5px;
}

.updating {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px 5px 5px 100px;
	font-weight: bold;
	justify-content: center;
}

.forming {
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	width: 40%;
	border-radius: 5px;
}

.formingtime {
	width: 50px;
	justify-content: center;
	float: left;
	border-radius: 5px;
	margin: 10px 10px 10px 10px;
}

.cast {
	border-radius: 5px;
	margin: 10px 10px 10px 10px;
	width: 90%;
	border: 1px solid black;
}

.formsubmit {
	background-color: skyblue;
	color: black;
	justify-content: center;
	height: 50px;
	margin-left: 110px;
	font-weight: bold;
	vertical-align: middle;
	border-radius: 5px;
}
